@using QLXE.Models;
@model IList<Review>

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="display-1 text-primary text-center">05</h1>
        <h1 class="display-4 text-uppercase text-center mb-5">Bình luận gần đây</h1>
        <div class="owl-carousel testimonial-carousel">

            @foreach (var item in Model)
            {
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="@item.Image" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">@item.ReviewName</h4>
                    <i class="mb-2">@item.Profession</i>
                    <p class="m-0">@item.Comment</p>
                </div>
            }
        </div>
    </div>
</div>
                
